<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.springboot.shiro.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.we.springboot.shiro.bean.Role">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="enname" property="enName"/>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            parent_id,
            `name`,
            enname
    </sql>

    <select id="findByUserName" resultMap="BaseResultMap">
        select
        r.id,r.parent_id,r.name,r.enname
        from shiro_role r
        left join shiro_user_role ur
        on r.id=ur.role_id
        left join shiro_user u
        on u.id=ur.user_id
        where u.username=#{username}
    </select>


</mapper>