<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.springboot.shiro.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.we.springboot.shiro.bean.User">
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="salt" property="salt" />
  </resultMap>


    <sql id="user">
        id,username,`password`,salt
    </sql>

  <select id="findByUsername" resultMap="BaseResultMap">
    select
    <include refid="user"/>
    from shiro_user
    where username=#{username}
  </select>


</mapper>